{
  "presets": ["@vue/app", "@babel/preset-env"],
  "plugins": [
    "react-hot-loader/babel",
        [
          "import",
          {
            "libraryName": "ant-design-vue",
            "libraryDirectory": "es",
            "style": true
          }
        ]
  ]
}
